body {
    background: radial-gradient(#fff,#ffd6d6);
}
h1 {
    color: tomato;
}
a {
    text-decoration: none;
    color: red;
}
.Home {
    width: 40px;
    position: absolute;
    left: 1470px;
    top: 5px;
}