body {
    background: radial-gradient(#fff, #ffd6d6);
}
div {
    position: absolute;
    left: 30px;
    background: transparent;
}
button {
    background-color: orangered;
    width: 130px;
    height: 40px;
    border-radius: 25px;
}
img {
    width: 300px;
}
.price {
    color: orangered;
}